.body{
  background-color: beige;
}
.login-form {
    text-align: center;
    border: 1px solid black;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
  }
  
  .login-title {
    border-bottom: 1px solid black;
  }
  
  .input-container {
    margin-top: 20px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
  }
  

  .navbar {
    background-color: royalblue;
  }
  
  .nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .nav-links li {
    margin: 0 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: beige;
  }
  
  
  